@model Flight
@using Newtonsoft.Json;

@if (Model == null)
{
    <h2>No Flight Information Provided</h2>
}
else
{
    <div class="flight-container col-6">
        <div class="info">
            <h3>Flight Number: @Model.FlightNumber</h3>
            <h3>Departure Airport: @Model.DepartureIATA</h3>
            <h3>Arrival Airport: @Model.ArrivalIATA</h3>
            <h3>Scheduled Departure: @Model.ScheduledDeparture.ToString("M/d/yyyy hh:mm tt")</h3>
            <h3>Departure Terminal: @Model.DepartureTerminal</h3>
            @if (!string.IsNullOrEmpty(Model.ArrivalTerminal))
            {
                <h3>Arrival Terminal: @Model.ArrivalTerminal</h3>
            }
            <h3>Status: @Model.Status</h3>
            <h3>Scheduled Arrival: @Model.ScheduledArrival.ToString("M/d/yyyy hh:mm tt")</h3>
            @if (Model.EstimatedDeparture != null)
            {
                <h3>Estimated Departure: @Model.EstimatedDeparture.Value.ToString("M/d/yyyy hh:mm tt")</h3>
            }
            @if (Model.EstimatedArrival != null)
            {
                <h3>Estimated Arrival: @Model.EstimatedArrival.Value.ToString("M/d/yyyy hh:mm tt")</h3>
            }
        </div>
        @if (Model.ReserverID == null)
        {
            <a asp-controller="Home" asp-action="AddFlight" asp-route-addedFlight="@Model" class="btn btn-secondary">Reserve</a>
        }
        else
        {
            <a asp-controller="Flight" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-secondary edit"> <i class="bi bi-trash3"></i> Delete</a>
        }
    </div>
}
