@model Flight

@if( Model == null)
{
    <h2>Flight Reservation empty</h2>
}

else
{
    <h3>@Model.FlightNumber</h3>
    <h3>@Model.EstimatedArrival</h3>
    <h3>@Model.EstimatedDeparture</h3>
    <h3>@Model.DepartureTerminal</h3>
    <h3>@Model.DepartureGate</h3>
    <h3>@Model.Status</h3>
}